@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E5F6F5;
  color: #0A1A54;
  width: 100vw;
  min-height: 100vh;
}

#DexieDemoApp #DexieDemoAppContent {
  padding: 50px 30px;
}